$msm-white:        #FDFDFD;
$msm-black:        #333;

$msm-blue:         #317DC1;
$msm-blue-dark:    darken($msm-blue, 10%);
$msm-blue-darker:  darken($msm-blue, 15%);
$msm-blue-light:   #0491C9;
$msm-blue-lighter: lighten(#0491C9, 20%);


$msm-green:        #9BBF29;
$msm-yellow:       #f0ad4e;
$msm-red:          #D0021B;

$msm-gray:         #AAA;
$msm-gray-lighter: #F3F3F3;
$msm-gray-light:   #EAEAEA;
$msm-gray-dark:    #999;
$msm-gray-darker:  #404040;

