.editable-text-container {
    cursor: pointer;
}

.editable-text {

    .original-text {
        transition: border-color 0.3s;
        border: dashed rgba(255, 255, 255, 0) 1px;
        padding: 2px;

        &:hover {
            transition: border-color 0.3s;
            border: dashed $msm-black 1px;
        }
    }

    textarea, input {
        background: inherit;
        color: inherit;
        font: inherit;
        border: inherit;
        width: 100%;
        padding: inherit;
        margin: 0;
        height:inherit;
        line-height:inherit;
        display:inline-block;
        text-decoration: none;
        border: dashed $msm-black 1px;

        &:focus {
            outline: 0;
        }
    }

}
