body {
    max-width: 1170px;
}

.anchorjs-link,
.anchorjs-link:hover {
    color: #DDD;
    text-decoration: none;
}

code {
    font-size: 12px;
    white-space: pre;
}

.hljs {
    background: transparent !important;
    padding: 0 !important;
}

.example {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}
