<div class="modal-header">
  <h3 class="modal-title">{{ vm.title | translate }}</h3>
  <span class="modal-close" ng-click="vm.onDismiss ? vm.onDismiss() : $dismiss('cancel')"><i class="zmdi zmdi-close img-close"></i></span>
</div>
<div class="modal-body modal-mobile-show">
  <ul class="modal-mobile-options">
    <li ng-repeat="option in vm.options.values" class="modal-mobile-option" ng-click="vm.select(option)">
      <i class="zmdi zmdi-check-circle item-selected" ng-if="vm.options.selected === option"></i>
      <i class="zmdi zmdi-circle-o item-not-selected" ng-if="vm.options.selected !== option"></i>
      {{ option }}
    </li>
  </ul>
</div>
<div class="modal-body modal-mobile-hide">
  <form class="form-horizontal">
    <div>
        <ui-select id="selectItems" ng-model="vm.options.selected" append-to-body="true">
          <ui-select-match placeholder="{{ vm.text | translate }}" allow-clear="false">
            {{ vm.options.selected }}
          </ui-select-match>
          <ui-select-choices repeat="option in vm.options.values | filter: $select.search">
            <div ng-bind-html="option | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-repeat="button in vm.buttons" class="btn {{ button.style }}"
          ng-class="{ 'btn-zmdi': !button.title, 'modal-mobile-hide': button.hideMobile }"
          ng-click="button.onClick()">
    <i ng-if="button.icon" class="zmdi zmdi-hc-fw zmdi-{{ button.icon }}"></i>{{ button.title | translate }}</button>
</div>
