/**
* Use with bootstrap's .navbar
*/
.msm-navbar {
  background-color: $msm-navbar-bg;
  border: 0;
  border-radius: 0;
  color: $msm-navbar-text;
  height: 60px;
  margin-bottom: 0;

  .navbar-brand {
    color: $msm-navbar-text;
    font-size: 24px;
    height: 60px;
    padding: 18px 20px;
  }

  .navbar-toggle {
    border: 1px solid rgba($msm-navbar-text, 0.5);
    margin: 13px 20px;
    transition: border-color linear 0.2s;

    .icon-bar {
      background-color: rgba($msm-navbar-text, 0.5);
      transition: background-color linear 0.2s;
    }

    &:hover, &:focus {
      border-color: $msm-white;

      .icon-bar {
        background-color: white;
      }
    }
  }

  .nav {
    > li > a {
      color: $msm-navbar-text;
      height: 60px;
      padding: 18px 20px;
      transition: background-color linear 0.1s;

      &:hover,
      &:focus {
        background-color: rgba($msm-navbar-highlight, 0.15);
        color: $msm-navbar-text;
      }
    }

    > .active > a,
    > .dropdown.open > a {
      background-color: rgba($msm-navbar-highlight, 0.25);
      color: $msm-navbar-text;
    }

    .disabled > a {
      color: rgba($msm-navbar-text, 0.5);

      &:hover,
      &:focus {
        background-color: inherit;
      }
    }
  }

  .navbar-form {
    margin: 0;
    padding: 13px 20px;

    .form-control {
      background-color: rgba($msm-navbar-highlight, 0.25);
      border-radius: 36px;
      border: 0;
      box-shadow: none;
      color: $msm-white;
      height: 36px;
      line-height: 18px;
      padding: 0 20px;
      transition: background-color linear 0.25s;

      &:focus {
        background-color: rgba($msm-navbar-highlight, 0.35);
      }

      @include placeholder-color(rgba($msm-navbar-text, 0.5));
    }
  }
}
