.ui-notification {
  background-color: $msm-blue;

  &.error {
    background-color: $msm-red;
  }
  &.success {
    background-color: $msm-green;
  }
  &.info {
    background-color: $msm-blue-light;
  }
  &.warning {
    background-color: $msm-yellow;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover, &:focus {
      color: #fff;
      opacity: .75;
      text-decoration: underline;
    }
  }
}
