// general colos
$msm-white:                #FDFDFD;
$msm-black:                #333;

$msm-blue:                 #317DC1;
$msm-blue-dark:            darken($msm-blue, 10%);
$msm-blue-darker:          darken($msm-blue, 15%);
$msm-blue-light:           #0491C9;
$msm-blue-lighter:         lighten(#0491C9, 20%);

$msm-green:                #9BBF29;
$msm-yellow:               #f0ad4e;
$msm-red:                  #D0021B;

$msm-gray:                 #AAA;
$msm-gray-lighter:         #F3F3F3;
$msm-gray-light:           #DADADA;
$msm-gray-dark:            #999;
$msm-gray-darker:          #666;

$msm-border:               transparentize($msm-black, .85);
$msm-border-light:         transparentize($msm-black, .95);
$msm-border-dark:          transparentize($msm-black, .70);

// navbar
$msm-navbar:               $msm-blue;
$msm-navbar-hover:         rgba(0, 0, 0, 0.1);
$msm-navbar-active:        rgba(0, 0, 0, 0.2);

$msm-navbar-text:          $msm-white;
$msm-navbar-text-active:   $msm-white;
$msm-navbar-text-disabled: rgba($msm-white, 0.5);

$msm-navbar-input:         $msm-navbar-active;
$msm-navbar-input-active:  rgba(0, 0, 0, 0.3);
$msm-navbar-input-text:    $msm-white;

$msm-navbar-placeholder:   rgba($msm-white, 0.5);

// spinner
$msm-spinner-color:        $msm-gray;

// wizard
$msm-wizard-color:         $msm-blue;