$mobile-menu-item-height:        48px;

$panel-sm-heading-margin:        0 24px 0 !default;
$panel-sm-heading-padding:       18px 0 12px !default;
$panel-sm-body-padding:          16px 24px !default;
$panel-sm-footer-padding:        14px 24px 16px !default;

$panel-xs-heading-margin:        0 18px 0 !default;
$panel-xs-heading-padding:       12px 0 8px !default;
$panel-xs-body-padding:          10px 18px !default;
$panel-xs-footer-padding:        14px 18px 16px !default;