<span>
	<span ng-click="clickCb()" class="hidden-xs btn btn-danger" ng-class="addClass">
		<i class="icon-close"></i>
		<span class="delete-text">{{ text }}</span>
	</span>
	<div class="visible-xs">
    <div ng-click="clickCb()" class="btn btn-danger mobile-menu-point standard-box-shadow" ng-class="addClass">
      <i class="icon-close dynamic-icon"></i>
      <div class="menu-name">{{ text }}</div>
      <div class="preview-value"></div>
      <i class="icon-arrow-right"></i>
    </div>
  </div>
</span>


<button class="btn btn-danger"><i class="zmdi zmdi-delete mr-xxs"></i> Delete account</button>
