.btn {
  border-radius: 0;
  display: block;


  i {
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    width: 64px;
  }
}

@media screen and (min-width: $screen-sm-min) {

  .btn {
    border-radius: 4px;
    display: inline-block;
    float: right;
    font-size: 12px;
    padding: 10px 15px;

    i {
      padding-right: 10px;
      text-align: center;
    }
  }
}
