body {
    background-color: #F3F3F3;
    padding-top: 100px;
}

body > .container-fluid {
    max-width: 1280px;
}

.anchorjs-link,
.anchorjs-link:hover {
    color: #DDD;
    text-decoration: none;
}

pre {
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
}

.hljs {
    background: transparent;
    padding: 24px 0 0 0;
}