body {
  background-color: #F0F0F0;

  padding-top: 60px;

  @media screen and (min-width: 992px) {
    padding-top: 100px;
  }
}

body > .container-fluid {
  max-width: 1280px;
}

pre {
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
}

.hljs {
  background: transparent;
  padding: 24px 0 0 0;
}